<h2>Shop</h2>
<% @products.each do |product| %>
  <div>
    <strong><%= product.name %></strong> - KES <%= product.price %>
    <%= button_to "Add to Cart", cart_items_path(product_id: product.id), method: :post %>
  </div>
<% end %>
<%= link_to "View Cart", cart_path %>
